@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script|Great+Vibes|Kaushan+Script|Marck+Script|Playball');
/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #4285f4;
 }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285f4; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }


/* ESTILOS PROPIOS DE LA PAGINA*/
.titulo {
  color: #ec407a;
  font-family: 'Alex Brush', cursive;
}

.introd{
  background-color: #f8f9fa;
}
